@page "/Comercios/Listado"
@inject HttpClient Http

<h3>Listado de Comercios</h3>
<form>
    <div class="row">
        <div class="col-md-5">
            <b>Comercio</b><br />
            <input type="text" class="form-control" placeholder="Nombre del comercio" @bind-value="Titulo" @bind-value:event="oninput" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" @onclick="filtro">Filtrar</button>
            <a class="btn btn-info" href="Comercios/Editar_Nuevo/">Nuevo</a>
        </div>
    </div>
    <br />
</form>

@if (Comercios == null)
{
    <text>Cargando..</text>
}
else if (Comercios.Count == 0)
{
    <text>No hay comercios en la base de datos</text>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Género musical</th>
                <th scope="col">Mesas</th>
                <th scope="col">Tipo de documento</th>
                <th scope="col">Nro. de documento</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Comercios)
            {
                <tr>
                    <td>@row.Nombre</td>
                    <td>@row.GeneroMusical</td>
                    <td>@row.Mesas</td>
                    <td>@row.TipoDocumento</td>
                    <td>@row.NroDocumento</td>
                    <td>@row.Email</td>
                    <td>@row.Telefono</td>
                    <td>@row.Direccion</td>
                    <td>@row.Usuario.NombreUsuario</td>
                    <td>
                        <a href="Comercios/Editar_Nuevo/@row.ID_Comercio">Editar</a> |
                        <a href="Comercios/Eliminar/@row.ID_Comercio">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public string Titulo { get; set; }
    public string Url = "/api/comercios";

    private List<DondeSalimos.Shared.Modelos.Comercio> Comercios;

    protected override async Task OnInitializedAsync()
    {
        await CargarComercios();
    }

    async Task CargarComercios()
    {
        Comercios = await Http.GetFromJsonAsync<List<DondeSalimos.Shared.Modelos.Comercio>>(Url);
    }

    public async Task filtro()
    {
        //Filtrar por 'Nombre comercio'
        if (!string.IsNullOrEmpty(Titulo))
        {
            Comercios = await Http.GetFromJsonAsync<List<DondeSalimos.Shared.Modelos.Comercio>>($"{Url}/{Titulo}");
        }
        else
        {
            await CargarComercios();
        }

        StateHasChanged();
    }
}
